In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
import matplotlib.pyplot as plt

rdst = 815

Bad key "text.kerning_factor" on line 4 in
C:\Users\weisj\anaconda3\envs\dsi\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [3]:
pets = pd.read_csv('../data/train/train.csv')

In [4]:
pets.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2

In [5]:
X = pets.drop(columns = ('AdoptionSpeed'))
y = pets['AdoptionSpeed']

X_train, X_hold, y_train, y_hold  = train_test_split(X, y, test_size=0.25, random_state=rdst)

X_train, X_test, y_train, y_test  = train_test_split(X_train, y_train, test_size=0.25, random_state=rdst) # 0.25 x 0.8 = 0.2

print('Pets Shape: ', pets.shape)

print('X Train Shape: ' ,X_train.shape)

print('y Train Shape: ' ,y_train.shape)

print('X Test Shape: ', X_test.shape)
print('y Test Shape: ', y_test.shape)

print('X Holdout Shape: ', X_hold.shape)

print('y Holdout Shape: ', y_hold.shape)

X_hold

Pets Shape:  (14993, 24)
X Train Shape:  (8433, 23)
y Train Shape:  (8433,)
X Test Shape:  (2811, 23)
y Test Shape:  (2811,)
X Holdout Shape:  (3749, 23)
y Holdout Shape:  (3749,)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Sterilized,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt
216,1,3 Puppies -11wks Old Toilet Trained,2,307,141,3,5,7,0,3,...,2,1,3,0,41326,3b074cadd2350de62dca7056b9bab6f4,1,FOR serious adopters only! If you are interest...,d4e83ee5b,8.0
1300,2,NaN,4,266,0,1,1,6,7,2,...,3,1,1,0,41326,89776a396eb41a322a74bb68b29824e2,0,"Found this cat in cp4 pasar malam, seems like ...",edd61c330,4.0
8031,2,Timmy And Teena,3,299,0,3,2,3,7,2,...,2,1,2,60,41326,aeb78e196b74d77222860a9b466255ce,0,These two adorable siblings were found at the ...,7edefab1a,4.0
4827,1,Jaeger,3,26,307,1,1,2,0,2,...,2,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Lovely and intelligent puppy looking for a for...,0ede86b28,3.0
1923,1,Mongrails For Adoption,1,307,307,3,1,2,0,2,...,2,1,2,0,41401,a684c12f6f28a1ee13159d9a26e4600d,0,They are street dogs and in need of a good hom...,71e5aca0a,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6520,1,R9,1,307,307,1,2,0,0,2,...,2,1,1,0,41326,b53c34474d9e24574bcec6a3d3306a0d,0,Dog 4 Adoption,704502836,1.0
2078,1,Rottweiler - Adoption,8,189,0,2,1,0,0,3,...,2,1,1,1000,41326,9c895e51a0b8d0290bc3936f3f21fede,0,Open for Adoption with Fees Looking for new lo...,ecad98f44,1.0
11782,1,Sunshines,5,213,152,2,2,3,0,1,...,1,1,1,0,41401,c00756f2bdd8fa88fc9f07a8309f7d5d,0,Very sticky to humans and a follower.. She lov...,a99a82e6d,8.0
13639,1,NaN,24,307,0,1,2,0,0,3,...,3,1,1,0,41401,f35e9ea1bac108f51f85161f69c2fb10,1,I found it wandering outside about 2 weeks ago...,5e6a7ea61,2.0
9330,1,Silky,4,307,307,2,2,0,0,3,...,2,1,1,0,41326,f00c605503e1ac125c8fff290d3a2c7a,0,Silky looking for her forever home Adopt her t...,8a6f301fa,1.0

In [6]:
hold = pd.concat([X_hold, y_hold], axis = 1)

In [7]:
hold.to_csv('../data/holdout.csv', index = False)

In [8]:
train = pd.concat([X_train, y_train], axis = 1)
test = pd.concat([X_test, y_test], axis = 1)
pets = pd.concat([train,test], axis = 0)
# train.to_csv('../data/pets')

In [10]:
pets.shape

(11244, 24)

In [11]:
pets.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
951,2,Brando,16,266,0,1,5,7,0,2,...,1,1,100,41326,1470df093c280f9c9c90ccc2f8d44f27,0,Brando is a mild and independent boy. He loves...,cdab9b66a,3.0,4
8331,2,Blu,48,266,0,2,5,7,0,2,...,1,1,0,41326,82a32b0880e7b35ae5133945a67e90a7,0,I will be moving to Australia soon and I am lo...,24fad6b0b,5.0,4
954,1,Fara 2mths Old,2,307,0,2,2,0,0,2,...,1,1,0,41326,2e53c8cd2454a77eb195a039ee28b8f6,0,Fara is also the stray pup rescued from usj18 ...,281e2d7e8,1.0,3
3690,1,Summer Ooi,72,307,0,2,1,2,7,2,...,1,1,0,41327,fe7e8d2639220a64bd175caf3d3133f9,0,Very active female dog. Her name is Summer. Sh...,52363327c,4.0,4
2572,1,Lucky Boy,1,307,0,1,1,2,7,2,...,1,1,0,41401,9238e4f44c71a75282e62f7136c6b240,0,"A midnight hear a puppy crying bad, then i saw...",b2385d700,23.0,2

In [14]:
pets.to_csv('../data/pets.csv', index = False)

References:  
https://www.linkedin.com/pulse/kaggle-competition-multi-class-classification-image-alexandra/  
https://www.kaggle.com/c/petfinder-adoption-prediction/data